html
  head
    title= title
  body
    p Simple, unfinished implementation of ARK for the Arweave blockchain
    p Example:
    p Base URL/tx will redirect to the appropriate URL on arweave.net
    p BASE URL/tx/question will offer who, what, where, when metadata, i.e., an Electronic Resource Citation (ERC) using Dublin Core Kernel 
    p 
    p TO-DO: Having difficulties making URLs with ARK standard of colons and question marks in Node/Express 
    