html
  head
    title= title
  body
    p Simple, unfinished implementation of ARK (Archival Resource Key) in English language for the Arweave blockchain
    p To learn more about ARK:
    a(href="https://n2t.net/e/ark_ids.html") see here.
    p Example:
    p Base URL/tx will redirect to the appropriate URL on arweave.net
    p example is:
    a(href="https://arweave-ark.glitch.me/0TR0dihcC17Plk8VOJUs9PZkzpnlbMFBKayTwugTB3E") https://arweave-ark.glitch.me/0TR0dihcC17Plk8VOJUs9PZkzpnlbMFBKayTwugTB3E
    p BASE URL/tx/question will offer who, what, where, when metadata, i.e., an Electronic Resource Citation (ERC) using Dublin Core Kernel:
    a(href="https://arweave-ark.glitch.me/0TR0dihcC17Plk8VOJUs9PZkzpnlbMFBKayTwugTB3E/question") https://arweave-ark.glitch.me/0TR0dihcC17Plk8VOJUs9PZkzpnlbMFBKayTwugTB3E/question
    p 
    p TO-DO: Having difficulties making URLs with ARK standard of colons and question marks in Node/Express 
    